<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/task-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let category of categories">
      <div slot="start" class="color-dot" [style.background]="category.color"></div>
      <ion-label>{{ category.name }}</ion-label>
      <ion-button slot="end" fill="clear" (click)="editCategory(category)">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" color="danger" (click)="deleteCategory(category)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item *ngIf="categories.length === 0">
      <ion-label class="ion-text-center" color="medium">
        No hay categorías. ¡Crea una!
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addCategory()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>